body{color: white;
    background-color: rgb(16, 16, 16);
font-family: Verdana, Geneva, Tahoma, sans-serif;}
/* pesquisa */
header{margin-bottom: 30px;
    background-color: rgb(16, 16, 16);}
.logo{
    margin-left: 8px;width: 25px;
    margin-right: 5px;
    margin-top: 5px;
    }
a{display: inline-block;
    margin-left: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: none;
 color: white;}
.lupa{height: 12px;}
form{margin-top: 15px;
    margin-right: 5px;
    float: right;
}
/* navegação */
nav{margin-bottom: 20px;
    background-color: rgb(30,30,30);
    padding: 20px;
border-radius: 10px;}
.criar{border-radius: 10px;
padding: 5px;}
.biblioteca{color: grey;}

/* conteudo */
 section{color: rgb(255, 255, 255);
    background-color: rgb(48, 48, 48);
    padding: 20px;
border-radius: 10px;

}
div.hej{width: 49%;
    display: inline-block;}
img.hej{width: 180px;}
p.artista{margin-left: 10px;
font-size: medium;}
div.tuto{display: inline-block;
width: 49%;}

/* computador */
@media screen and (min-width: 900px) {
   
    form{margin-top: 15px;
        margin-right: 30px;
        float: right;
}
    nav{position: fixed;
    margin-left: 8px;
    width: 25%;

    }
    
    section{
        position: fixed;margin-left: 30%;
        border-radius: 10px;
        width: 90%;
        padding-right: 10%;
    }
    div.hej{width: 20%;
    display: inline-block;}
    div.tuto{width: 20%;
        display: inline-block;}
    div.jem{width: 20%;
        display: inline-block;}
    div.nattan{width: 20%;
        display: inline-block;}
}